<p style="color: green"><%= notice %></p>
<%= render partial: 'partials/nav' %>
<h1 class="text-center p-3">Recipes</h1>

<ul id="recipes" class="container list-group">
  <% if user_signed_in? %>
    <div class="text-end py-2">
      <%= link_to "New recipe", new_user_recipe_path, class: "btn btn-dark" %>
    </div>
  <% end %>

  <% @recipes.each do |recipe| %>
    <li class="list-group-item mb-7 d-flex">
      <div class="col-5 ps-2">
        <h4 class="p-2 m-3">
          <%= link_to recipe.name, user_recipe_path(user_id: recipe.user.id, id:recipe.id), class: "text-decoration-none text-black" %>
        </h4>
        <% if can? :destroy, recipe%>
          <div class="p-2">
          <p>
            <%= button_to "Destroy", user_recipe_path(user_id: recipe.user.id, id:recipe.id), method: :delete, class: "btn btn-outline-danger text-red" %>
          </p>
          <p>
            <%= link_to "View Recipe", user_recipe_path(user_id: recipe.user.id, id:recipe.id), class: "btn bg-black text-white" %>
          </p>
          </div>
        <% end %>
      </div>
      <div class="col-10 ps-10">
        <h4 class="m-4">Description</h4>
        <p><%= recipe.description %></p>
      </div>
    </li>
  <% end %>
</ul>

