<h1>Current User's Specific Recipe!</h1>

<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
<%= render @recipe %>

<h1>Public Recipes!</h1>

<div>
  <%@recipes.each do |recipe|%>
    <div>
      <div>
        <h2><%= recipe.name %></h2>
        <h3>By <%= recipe.user.name %></h3>
      </div>
      <div>
        <p>Total food items: <%= recipe.recipe_foods.count %></p>
        <p>Total price: $ <%= recipe.total_price %></p>
      </div>
    </div>
  <%end%>
</div>